@import url("common.css");
@import url("side_menu.css");
.image-container {
    background-size: 100% 900px;
    background-image: url("https://nurseryschool.wustl.edu/files/2017/09/170914_jjn_nursery_school_008.jpg");
    object-fit: cover;
}

.widget-area{
    background-color: lightgray;
    color: #555;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.45;
    padding-left: 50px;
    padding-bottom: 100px;
}

.widget-area h1 {
    /*color: rgb(61, 61, 61);*/
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0.4px;
    line-height: 48px;
    margin-bottom: 32px;
}

h2 {
    color: rgb(85, 85, 85);
    font-size: 27.648px;
    font-weight: 300;
    line-height: 36.8548px;
    margin-bottom: 24px;
}

h3 {
    color: rgb(85, 85, 85);
    font-size: 27px;
    font-weight: 300;
    line-height: 37px;
}